*.iml
*.jks
.gradle
.github_changelog_generator
/local.properties
/.idea/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/fdroid
/app/release
.externalNativeBuild
.cxx
google-services.json
