<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Enable instant apps (optional) -->
    <dist:module dist:instant="true" /> <!-- Permissions your launcher uses -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="PackageVisibilityPolicy,QueryAllPackagesPermission" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_HIDDEN_PROFILES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.BIND_APPWIDGET"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_REMOTEVIEWS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Mlauncher"
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:excludeFromRecents="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.mLauncher"
        tools:targetApi="tiramisu">
        <activity
            android:name=".ui.widgets.WidgetActivity"
            android:exported="false" />
        <!-- File provider for sharing files -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Init provider to run early initialization code -->
        <provider
            android:name=".init.MlauncherInitProvider"
            android:authorities="${applicationId}.mlauncher.initprovider"
            android:exported="false"
            android:initOrder="100" /> <!-- MAIN LAUNCHER ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- ONBOARDING ACTIVITY -->
        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTask" /> <!-- CRASH REPORT ACTIVITY -->
        <activity
            android:name=".CrashReportActivity"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:exported="true" /> <!-- ICON PACK ACTIVITIES -->
        <activity
            android:name=".ui.iconpack.ApplyIconPackActivity"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="app.mlauncher.APPLY_ICONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.iconpack.CustomIconSelectionActivity"
            android:excludeFromRecents="true"
            android:exported="false" /> <!-- Accessibility Service -->
        <service
            android:name=".services.ActionService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/accessibility_service_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            tools:ignore="AccessibilityPolicy">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service> <!-- Notification Manager -->
        <service
            android:name=".listener.NotificationManager"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ui.widgets.wordoftheday.WordOfTheDayWidget"
            android:exported="false"
            android:label="@string/widget_wotd_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/word_of_the_day_widget_info" />
        </receiver>
        <receiver
            android:name=".ui.widgets.wordoftheday.WordOfTheDayUpdateReceiver"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <receiver
            android:name=".ui.widgets.fab.FabWidget"
            android:exported="false"
            android:label="@string/widget_fab_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_fab_info" />
        </receiver>
        <receiver
            android:name=".ui.widgets.fab.FabClickReceiver"
            android:exported="false" />
        <receiver
            android:name=".ui.widgets.home.HomeAppsWidgetProvider"
            android:exported="true"
            android:label="@string/widget_home_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_home_apps_info" />
        </receiver>
        <receiver
            android:name=".ui.widgets.home.HomeAppUpdateReceiver"
            android:exported="false" />
    </application>

</manifest>