name: Delete Unused Caches

on:
  schedule:
    - cron: "30 1 * * *"
  workflow_dispatch:

jobs:
  delete:
    runs-on: ubuntu-latest
    steps:
      # Do other steps like checkout, install, compile, etc.
      - uses: MyAlbum/purge-cache@v2.1.0
        with:
          max-age: 1800 # Cache max 7 days since last use (this is the default)
          debug: true # Set to true to output debug info
