# Builds the project
name: Test Discord

on:
  workflow_dispatch:

jobs:
  build:
    name: Test Discord
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v5.0.0
        with:
          token: ${{ github.actor == 'dependabot[bot]' && secrets.GITHUB_TOKEN || secrets.GIT_BOT_TOKEN }}
          fetch-depth: 0       # Fetch full history

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '20'  # or whatever version you need

      - name: Post Release to Discord
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
          DISCORD_ROLEID: ${{ secrets.DISCORD_ROLEID }}
        run: |
          # Run your Discord release script
          node post-discord-release.js
